@page
@model moment1_razorpage.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<p>
    My name is Malin and I am a web developer student at Mid Sweden University.
    This website is created with ASP.NET and Razor in Visual Studio.
</p>