@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome home!";
}


<h2>@ViewData["Title"]</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Nibh tortor id aliquet lectus. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Amet tellus cras adipiscing enim eu turpis. Eleifend mi in nulla posuere sollicitudin aliquam. Purus semper eget duis at tellus at. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Tincidunt dui ut ornare lectus sit amet est placerat. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Egestas purus viverra accumsan in nisl. Sollicitudin nibh sit amet commodo nulla. Sed elementum tempus egestas sed. Eget nunc lobortis mattis aliquam faucibus purus in. Dolor purus non enim praesent elementum facilisis leo vel. Maecenas ultricies mi eget mauris pharetra et ultrices. Nunc pulvinar sapien et ligula ullamcorper malesuada. Risus in hendrerit gravida rutrum quisque non tellus orci ac.
</p>



